kestraflow.yaml
id: chinchilla_405354
namespace: company.team

tasks: 
- id: FetchIp
  type: io.kestra.plugin.core.http.Request
  uri: https://api64.ipify.org

- id: GetCity
  type: io.kestra.plugin.core.http.Request
  uri: https://api.techniknews.net/ipgeo/{{outputs.FetchIp.body}}

- id: TransformCity
  type: io.kestra.plugin.transform.jsonata.TransformValue
  from: "{{outputs.GetCity.body}}"
  expression: $.city

- id: TransformIsp
  type: io.kestra.plugin.transform.jsonata.TransformValue
  from: "{{outputs.GetCity.body}}"
  expression: $.isp

- id: GetWeather
  type: io.kestra.plugin.core.http.Request
  uri: http://api.weatherstack.com/current?access_key={{secret('WHOWEATHER')}}&query={{outputs.TransformCity.value}}

- id: TransformWe
  type: io.kestra.plugin.transform.jsonata.TransformValue
  from: "{{outputs.GetWeather.body}}"
  expression: |
     $.location.localtime & " ,from "& $.location.name & ", "
     & $.location.region & " ("&
     $.location.country &")" & "." &" Here's a quick weather report, today's weather is " & 
     $.current.weather_descriptions[0] & " with current conditions as follows temperature: " & 
     $.current.temperature & " degree Celcius" & " and humidity: " & $.current.humidity & "." & " The uv index is "& $.current.
      (
        $.current.uv_index < 3 ? "Low" :
        $.current.uv_index < 6 ? "Moderate" :
        "High"
      )

- id: LogData
  type: io.kestra.plugin.core.output.OutputValues
  values: 
    deviceinfo: User's IP Address is {{outputs.FetchIp.body}} and your is isp is {{outputs.TransformIsp.value}}. 
    locateinfo: The code is executed on {{outputs.TransformWe.value}}

- id: send_slack_message
  type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
  url: https://hooks.slack.com/services/{{secret('WHOSLACK')}}
  payload: |
    {
      "text": "{{outputs.LogData.values.deviceinfo}}"
      "text": "{{outputs.LogData.values.locateinfo}}"
    } 